version: '3'
services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile-bot
    env_file: 
      - .env
    restart: always

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile-dashboard
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always