<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>Dashboard</title><link rel="stylesheet" href="/css/themes.css"></head>
<body>
  <div class="box">
    <h1>Dashboard</h1>
    <p>Logado como <%= user.username %></p>
    <a href="/streamers"><button>Ver streamers</button></a>
    <a href="/admin/users"><button>Admin Usuários</button></a>
    <a href="/logout"><button>Sair</button></a>
  </div>
</body>
</html>
